/* .product_image{
    height: 280px;
}

.product_image {
    padding-left: 2px;
}


.red_button{
    margin-top: 40px;
} */

.red_button:hover
{
    background: rgb(236, 49, 52) !important;
}

.red_button{
    padding: 7px;
    height: 34px !important;
    margin-top: 5px;
}

.sidebar_categories,.checkboxes{
    display: table-caption !important;
}
.producto:hover .boton
{
	visibility: visible;
	opacity: 1;
}

.forPrice{
    margin-bottom: 40px;
}

.filter_button{
    margin-top: 5px;
}

.scroller{
    overflow-y: auto !important;
}
.top-cart-block{
    margin: 0 !important;
}
.footer{
	background: black;
} 


.fa-plus-circle{
    font-size: 23px;
    margin-top: 7px;
    top: 3px;
    position: relative;
}

.boton{
    text-align: center;
    visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.addProd{
    color: white !important;
    cursor: pointer;
}

.tarjets{
    margin-top: 30px;
}

.product_price{
    font-size: 16px;
    margin-top: -10px;
}
.texto{
    text-align: center;
}

.product_name{
    text-decoration: underline;
}

.producto img{
  cursor: pointer;
  height: 200px;
}


.producto{
    padding: 20px;
    border-right: 1px solid #eee;
    margin-top: 10px;
}

.producto:hover{
    box-shadow: 0px 0px 6px 2px #eee;
}